body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(201, 243, 243);
}
.titulo{    
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    border-bottom: solid;
    margin-bottom: 10px;
  
}
h3{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

